In [1]:
!pip install -U expertai-nlapi

Requirement already satisfied: expertai-nlapi in c:\users\hp\anaconda3\lib\site-packages (2.4.1)

[notice] A new release of pip available: 22.2.2 -> 22.3
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: requests in c:\users\hp\anaconda3\lib\site-packages (from expertai-nlapi) (2.27.1)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\hp\anaconda3\lib\site-packages (from requests->expertai-nlapi) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\hp\anaconda3\lib\site-packages (from requests->expertai-nlapi) (1.26.9)
Requirement already satisfied: idna<4,>=2.5 in c:\users\hp\anaconda3\lib\site-packages (from requests->expertai-nlapi) (3.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\hp\anaconda3\lib\site-packages (from requests->expertai-nlapi) (2021.10.8)

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from expertai.nlapi.cloud.client import ExpertAiClient
import os

In [3]:
os.environ["EAI_USERNAME"] = 'khkiran01@gmail.com'
os.environ["EAI_PASSWORD"] = 'Meera@1977'

In [4]:
client = ExpertAiClient()

In [5]:
import tweepy
import re
import emoji
import nltk
nltk.download('words')

[nltk_data] Downloading package words to
[nltk_data]     C:\Users\HP\AppData\Roaming\nltk_data...
[nltk_data]   Package words is already up-to-date!

True

In [6]:
my_bearer_token = "AAAAAAAAAAAAAAAAAAAAADnKawEAAAAArzcTtXJOw1Jx05SYlL%2F4J5%2F6Zv0%3Die1sm7TPVHtksmylWglnbmKUVNVzf7cEYBzeHDjTvB9aUggCQT"

In [7]:
cli = tweepy.Client(bearer_token=my_bearer_token)

In [8]:
response = cli.search_recent_tweets("#ford",max_results=10)

In [9]:
tweets = response.data
print(len(tweets))

10

In [10]:
tweets_texts = []
for tweet in tweets:  
    tweets_texts.append(tweet.text)
import pandas as pd
df = pd.DataFrame(data =  tweets_texts, columns=["Tweets"])

In [11]:
def sentiment_overall(client, text):
    try:
        input_text = str(text)[0:10000]  # limit the input size
        document = client.specific_resource_analysis(
        body={"document": {"text": input_text}}, 
        params={'language': 'en', 'resource': 'sentiment'
       })
        return document.sentiment.overall
    except Exception as e: 
        print(str(e) +": " + str(text))

In [12]:
words = set(nltk.corpus.words.words())

In [13]:
def cleaner(tweet):
    tweet = re.sub("@[A-Za-z0-9]+","",tweet) #Remove @ sign
    tweet = re.sub(r"(?:\@|http?\://|https?\://|www)\S+", "", tweet) #Remove http links
    tweet = " ".join(tweet.split())
    tweet = ''.join(c for c in tweet if c not in emoji.distinct_emoji_list(c)) #Remove Emojis
    tweet = tweet.replace("#", "").replace("_", " ") #Remove hashtag sign but keep the text
    tweet  = tweet.replace("\n"," ")
    tweet = re.sub(r'[^\w\s]', '', tweet)
    tweet = " ".join(w for w in nltk.wordpunct_tokenize(tweet)
                     if w.lower() in words or not w.isalpha())
    return tweet

In [14]:
df['text'] = df['Tweets'].map(lambda x: cleaner(x))

In [17]:
df['overall'] = df['text'].apply(lambda text: sentiment_overall(client,text))

df.head()

,Tweets,text,overall
0,@FordLenoir has had my niece’s car for a month...,had my car for a month now She bought their ex...,5.09
1,Ford: Visitors are discussing potential and/or...,Ford are potential actual at Ford See the disc...,-24.70
2,"Ford said on Wednesday it was exiting Russia, ...",Ford said on it was Russia following announcem...,2.50
3,Self-glossed Chief Twit #ELONMUSK carried a si...,Chief Twit carried a sink into Twitter Said Mu...,-3.40
4,"RT @SpirosMargaris: Argo AI, #driverless #star...",Argo AI driverless backed by Ford and is i,6.40

In [18]:
df['overall_score'] = df['overall'].apply(lambda c: 'pos' if c >=0 else 'neg')

In [19]:
df

,Tweets,text,overall,overall_score
0,@FordLenoir has had my niece’s car for a month...,had my car for a month now She bought their ex...,5.09,pos
1,Ford: Visitors are discussing potential and/or...,Ford are potential actual at Ford See the disc...,-24.70,neg
2,"Ford said on Wednesday it was exiting Russia, ...",Ford said on it was Russia following announcem...,2.50,pos
3,Self-glossed Chief Twit #ELONMUSK carried a si...,Chief Twit carried a sink into Twitter Said Mu...,-3.40,neg
4,"RT @SpirosMargaris: Argo AI, #driverless #star...",Argo AI driverless backed by Ford and is i,6.40,pos
5,"RT @guidaautonoma: #Ford, #Volkswagen -backed ...",Ford backed Argo AI is shutting down AI 5G,0.00,pos
6,https://t.co/Fz8QRck2jR\nFord\nGoodbye Argo AI...,Ford Argo AI F ford michigan recession layoff,-61.59,neg
7,https://t.co/ooVnS7DeYj\nFord\nYounger vs Olde...,Ford Younger Older F ford michigan recession l...,-61.59,neg
8,"Ford released it's Q3 earnings, beating automo...",Ford its Q3 earnings beating automotive revenu...,10.39,pos
9,#Ford inks MoUs for low carbon #steel\n https:...,Ford inks for low carbon steel,0.00,pos

In [20]:
def percentage(part,whole):
    return 100 * float(part)/float(whole)

In [23]:
p=0
ne=0
for n in df['overall_score']:
    if n =='pos':
        p+=1
    else:
        ne+=1

In [24]:
positive = percentage(p, 10)
negative = percentage(ne,10)

In [26]:
positive = format(positive, '.1f')
negative = format(negative, '.1f')

In [27]:
positive

'60.0'

In [28]:
negative

'40.0'

In [32]:
def hate_speech(client,text):
    detector = 'hate-speech'
    language= 'en'
    output = client.detection(body={"document": {"text": text}}, params={'detector': detector, 'language': language})
    for category in output.categories:
        return category.hierarchy

In [33]:
df['hatespeech'] = df['text'].apply(lambda text: hate_speech(client,text))

df.head()

,Tweets,text,overall,overall_score,hatespeech
0,@FordLenoir has had my niece’s car for a month...,had my car for a month now She bought their ex...,5.09,pos,None
1,Ford: Visitors are discussing potential and/or...,Ford are potential actual at Ford See the disc...,-24.70,neg,None
2,"Ford said on Wednesday it was exiting Russia, ...",Ford said on it was Russia following announcem...,2.50,pos,None
3,Self-glossed Chief Twit #ELONMUSK carried a si...,Chief Twit carried a sink into Twitter Said Mu...,-3.40,neg,[Personal Insult]
4,"RT @SpirosMargaris: Argo AI, #driverless #star...",Argo AI driverless backed by Ford and is i,6.40,pos,None

In [34]:
a=[]
for h in df['hatespeech']:
    if h!=None:
        a.append(h)

In [35]:
a

[['Personal Insult']]

In [36]:
def emotion(client,text):
    taxonomy = 'emotional-traits'
    language= 'en'
    output = client.classification(body={"document": {"text": text}}, params={'taxonomy': taxonomy, 'language': language})
    for category in output.categories:
        return category.hierarchy

In [37]:
df['emotional'] = df['text'].apply(lambda text: emotion(client,text))

df.head()

,Tweets,text,overall,overall_score,hatespeech,emotional
0,@FordLenoir has had my niece’s car for a month...,had my car for a month now She bought their ex...,5.09,pos,None,None
1,Ford: Visitors are discussing potential and/or...,Ford are potential actual at Ford See the disc...,-24.70,neg,None,None
2,"Ford said on Wednesday it was exiting Russia, ...",Ford said on it was Russia following announcem...,2.50,pos,None,None
3,Self-glossed Chief Twit #ELONMUSK carried a si...,Chief Twit carried a sink into Twitter Said Mu...,-3.40,neg,[Personal Insult],None
4,"RT @SpirosMargaris: Argo AI, #driverless #star...",Argo AI driverless backed by Ford and is i,6.40,pos,None,None

In [38]:
b=[]
for e in df['emotional']:
    if e!=None:
        b.append(e)